$color-1: #00EAD3;
$color-2: #FFF5B7;
$color-3: #FF449F;
$color-4: #005F99;

body {
    background-image: url('assets/images/bg-brickwall.jpg');
    background-repeat: repeat-y;
    background-size: cover;
}
